@import url("colors.css");

#icon {
    padding: 0px 4px;
}

.revealer-label {
    min-width: 2.6rem;
}

#hardware-label {
    min-width: 2.9rem;
}

#cache-label {
    min-width: 4.8rem;
}

.calendar-label {
    min-width: 8rem;
}

#week-days,
#disk-titles {
    font-weight: bold;
}

#week-days,
.date {
    min-width: 2rem;
}



.cool-button {
    box-shadow: none;
    background: none;
    border-color: transparent;
}

.cool-button:hover {
    border-color: @dark_main_color;
}

.cool-button:active,
#app-launcher-entry:focus {
    border-color: @main_color;
}


.workspace-button.active,
.date.current {
    color: @nice_green;
}

#circular-progress,
.device-label.passive,
.workspace-button.empty,
.power-icon.passive,
.revealer-label.passive,
.date.passive,
.now-playing-label.passive {
    color: @passive_color;
}


#app-launcher-window,
/* removes edges */
#app-launcher-entry

/* makes second entry visible */
    {
    background: none;
}

.device-label {
    min-width: 100px
}